/**************************** General *******************************/

@font-face
{
  font-family: 'FreeMono';
  src: url("#{resource['fonts/FreeMono.otf']}") format("opentype");
}

@font-face
{
  font-family: 'FreeMono';
  src: url("#{resource['fonts/FreeMonoBold.otf']}") format("opentype");
  font-weight: bold;
}

body, html
{
  font-family: 'FreeMono';
  height: 100%;
}

#wrap 
{
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
}

.img-responsive
{
  height: 100%;
  width: auto;
}

/**************************** Nvar *******************************/

.navbar-brand
{
  //padding: 4px;
  //margin-left: 30px;
  font-weight: bold;
}

.navbar-default
{
  border-radius: 0px !important;
  border-bottom: 2px solid #9ACA3C;
}



/**************************** Header *******************************/

#form-login .input-group
{
	margin-bottom: 15px;
}

#login .logo-login
{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 6em;
}

#login
{
	margin-bottom: 20px;
}

#login .panel .panel-heading
{
	background-color: #cce3d2;
	background-image: none;
}

/**************************** Footer *******************************/

footer > div
{
  border-top: 1px solid transparent;
  border-color: #e7e7e7;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 -5px 5px -5px rgba(255, 255, 255, 0.15) inset, 0 -5px 5px -5px rgba(0, 0, 0, 0.075);
  padding-left: 30px;
  padding-right: 30px;
  background-color: #414042;
}

footer
{
  background-color: #414042;
  clear: both;
  height: 50px;
  color: white;
  margin-top:60px;
}

/**************************** Content *******************************/

.content
{
  margin-bottom: 10px;
}

.panel-default, .panel-default > .panel-heading
{
  border-color: #bbbbbb;
}

.centrado{
	vertical-align: middle;
	text-align: center;
}

.block-centrado{
	vertical-align: middle;
	text-align: center;
	display: block;
}

.MensajeError{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: red;

}

.MensajeWarn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #f5680a;

}

.MensajeInfo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: green;

}

.MensajesAjax{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: green;
}